.movie-card {
  width: 450px;
  height: 280px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: flex;
}

.movie-card__img-wrapper {
  width: 180px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.movie-card__img {
  height: 100%;
}

.movie-card__info-wrapper {
  width: 270px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.movie-card__title {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}

.movie-card__date {
  color: #827e7e;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
}

.movie-card__genres {
  height: 20px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  background: #fafafa;
  padding: 3px;
  color: rgba(0, 0, 0, 0.65);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.movie-card__overview {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 183.333% */
  // overflow: hidden;
}
